---
import CldImage from "../components/CldImage.astro";
import Base from "@layouts/Base.astro";

const { frontmatter, headings, compiledContent } = Astro.props;

const comment = compiledContent().search('<p>') > 0 ? compiledContent().split("<p>").pop().split("</p>")[0] : '';

const options: Intl.DateTimeFormatOptions = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};

const title = new Date(frontmatter.pubDate).toLocaleDateString(
  undefined,
  options
);

const subheadings = headings.filter((h: any) => {
  return h.depth === 2;
});

const lists = compiledContent()
  .split("<ul>\n")
  .map((t: string) => {
    return t.split("</ul>");
  })
  .flat()
  .filter((t: string) => {
    return t.search("<li>") !== -1;
  });
---

<title>{title} | bentobox.today</title>
<Base>
  <main class="entry">
    <h1 id={frontmatter.title}>
      {title}
    </h1>
    <div class="img">
      <CldImage
        src={frontmatter.image.slug
          ? frontmatter.image.slug
          : frontmatter.image.url}
        alt={frontmatter.image.alt}
        width="1268"
        height="1268"
      />
    </div>
    <h2 id={subheadings[0].slug}>{subheadings[0].text}</h2>
    {comment.length > 0 && <p>{comment}</p>}
    <ul set:html={lists[0]} />
    {
      lists[1] && (
        <>
          <h2 id={subheadings[1].slug}>{subheadings[1].text}</h2>
          <ul set:html={lists[1]} />
        </>
      )
    }
  </main>
</Base>
<style lang="scss" is:global>
  .body {
    @apply grid grid-cols-[7.5rem_1fr] md:grid-cols-[10.125rem_1fr] grow overflow-hidden;
  }
  .entry {
    grid-template-columns: minmax(33vw, 50vmin) 1fr;
    grid-template-areas:
      "a a"
      "b c"
      "b d"
      "b e"
      "b f"
      "b g";
    grid-column-gap: theme("spacing.6");
    grid-auto-rows: min-content;
    @apply sm:grid py-2 px-4 md:py-4 md:px-8 h-full overflow-y-auto;
    h1 {
      @apply font-bold mb-4 text-3xl text-violet-700 dark:text-yellow-300 text-center sm:text-left overflow-y-auto;
      grid-area: a;
    }
    h2 {
      @apply font-bold mb-2 text-2xl text-cyan-600 dark:text-cyan-200;
    }
    .img {
      grid-area: b;
      @apply mb-4 border-2 rounded-lg border-pink-600 shadow-lg overflow-hidden;
    }
    ul, p {
      @apply mb-8 text-xl font-normal leading-relaxed;
      max-width: 60ch;
    }
  }
  main::-webkit-scrollbar-thumb {
    @apply bg-violet-500 rounded-full;
  }
  main::-webkit-scrollbar {
    width: theme("spacing.2");
    @apply bg-black/50;
  }
</style>
