---
import CldImage from '../components/CldImage.astro';
import Header from "@components/Header.astro";
import Nav from "@components/Nav.astro";

const { frontmatter, headings, compiledContent } = Astro.props;

const options: Intl.DateTimeFormatOptions = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};

const title = new Date(frontmatter.pubDate).toLocaleDateString(undefined, options);

console.log(new Date(frontmatter.pubDate))

const subheadings = headings.filter((h: any) => {
  return h.depth === 2;
});

const lists = compiledContent()
  .split("<ul>\n")
  .map((t: string) => {
    return t.split("</ul>");
  })
  .flat()
  .filter((t: string) => {
    return t.search("<li>") !== -1;
  });
---

<!DOCTYPE html>
<html lang="en-us" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://fav.farm/ðŸ±" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title} | bentobox.today</title>
  </head>
  <body class="bg-gray-900 text-white h-full flex flex-col">
    <Header />
    <div class="grid grid-cols-[7.5rem_1fr] md:grid-cols-[10.125rem_1fr] grow overflow-hidden">
      <Nav />
      <main class="entry sm:grid py-2 px-4 md:py-4 md:px-8">
        <h1 id={frontmatter.title}>
          {title}
        </h1>
        <div class="img mb-4">
          <CldImage
            src={frontmatter.image.slug ? frontmatter.image.slug : frontmatter.image.url}
            alt={frontmatter.image.alt}
            width="1268"
            height="1268"
          />
        </div>
        <h2 id={subheadings[0].slug}>{subheadings[0].text}</h2>
        <ul set:html={lists[0]} />
        {
          lists[1] && (
            <>
              <h2 id={subheadings[1].slug}>{subheadings[1].text}</h2>
              <ul set:html={lists[1]} />
            </>
          )
        }
      </main>
    </div>
  </body>
</html>
<style lang="scss" is:global>
  .entry {
    grid-template-columns: minmax(33vw, 50vmin) 1fr;
    grid-template-areas:
      "a a"
      "b c"
      "b d"
      "b e"
      "b f"
      "b g";
    grid-column-gap: theme("spacing.6");
    grid-auto-rows: min-content;
    h1 {
      @apply font-bold mb-4 text-2xl;
      grid-area: a;
    }
    h2 {
      @apply font-bold mb-2 text-xl;
    }
    .img {
      grid-area: b;
    }
    ul {
      @apply mb-8 text-lg;
    }
  }
</style>
